<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title></title>
    <script type="text/javascript" src="/static/cart/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/static/cart/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/cart/js/swiper.min.js"></script>
    <script src="/static/cart/js/swiper.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/cart/css/swiper.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/cart/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/static/cart/css/success.css"/>

</head>

<body>
<!--头部-->
<div class="alert-info">
    <div class="hd_wrap_top">
        <ul class="hd_wrap_left">
            <li class="hd_home"><i class="glyphicon glyphicon-home"></i>
                <a href="http://thellumall.com">Front Page</a>
            </li>

        </ul>

        <ul class="hd_wrap_right">
            <li>
                <a href="http://auth.thellumall.com/login.html" th:if="${session.loginUser == null}" class="li_2">
                    Hi, please log in</a>
                <a th:if="${session.loginUser != null}" class="li_2" style="width: 100px">[[${session.loginUser.nickname}]]</a>
            </li>
            <li>
                <a th:if="${session.loginUser == null}" href="http://auth.thellumall.com/register.html">
                    Free Sign Up</a>
            </li>
            <li class="spacer"></li>

            <li>
                <a href="/static/cart/javascript:;">我的订单</a>
            </li>


        </ul>

    </div>
</div>

<div class="nav-tabs-justified">
    <div class="nav_wrap">

        <div class="nav_top">
            <div class="nav_top_one">
                <a href="http://thellumall.com"><img src="/static/cart/img/logo1.jpg"
                                                     style="height: 60px;width:180px;"/></a>
            </div>
            <div class="nav_top_two"><input type="text"/>
                <button>搜索</button>
            </div>


        </div>

    </div>
</div>

<div class="main">

    <div class="success-wrap">
        <div class="w" id="result">
            <div class="m succeed-box">
                <div th:if="${item != null}" class="mc success-cont">
                    <div class="success-lcol">
                        <div class="success-top"><b class="succ-icon"></b>
                            <h3 class="ftx-02">The product has been successfully added to the shopping cart</h3></div>
                        <div class="p-item">
                            <div class="p-img">
                                <a href="/static/cart/javascript:;" target="_blank"><img
                                        style="height: 60px;width:60px;" th:src="${item.image}"></a>
                            </div>
                            <div class="p-info">
                                <div class="p-name">
                                    <a th:href="'http://item.thellumall.com/' + ${item.skuId} + '.html'" target="_blank"
                                       th:text="${item.title}">
                                    </a>
                                </div>
                                <div class="p-extra"><span class="txt" th:text="'NUMBER：'+${item.count}">  NUMBER：1</span></div>
                            </div>
                            <div class="clr"></div>
                        </div>
                    </div>
                    <div class="success-btns success-btns-new">
                        <div class="success-ad">
                            <a href="/static/cart/#none"></a>
                        </div>
                        <div class="clr"></div>
                        <div class="bg_shop">
                            <a class="btn-tobback"
                               th:href="'http://item.thellumall.com/' + ${item.skuId} + '.html'">Detail</a>
                            <a class="btn-addtocart" href="http://cart.thellumall.com/cart.html"
                               id="GotoShoppingCart"><b></b>Checkout</a>
                        </div>
                    </div>
                </div>
                <div th:if="${item == null}" class="mc success-cont">
                    <h2> No items in Your Shopping Cart</h2>
                    <a href="http://thellumall.com"> GO SHOPPING</a>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
<script type="text/javascript" src="/static/cart/js/success.js"></script>

</html>
